body {
    background: url("../images/bg.png")
}

/*.top-bar-section ul li > a.button {*/
    /*background: #FF0000;*/
    /*border-color: #A70021;*/
/*}*/

.top-bar-section ul li > input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    /*outline: none;*/
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid #DDDDDD;
}

.top-bar-section ul li > input[type=text]:focus {
    box-shadow: 0 0 5px rgba(0, 150, 255, 1);
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid rgba(0, 150, 255, 1);
}