extends layouts/layout
block append head
    title Rhino
    script(src="javascripts/custom.modernizr.js")
block append css
    link(rel="stylesheet" href="stylesheets/foundation.css")
    link(rel='stylesheet' href='stylesheets/index.css')
block append content
    nav.top-bar(data-options="is_hover:false")
        ul.title-area
            li.name
                h1
                    a(href="#") Rhino
        section.top-bar-section
            ul.left
                li.divider
                li.active
                    a(href="#") Main Item 1
                li.divider
                li
                    a(href="#") Main Item 2
                li.divider
                li.has-dropdown
                    a(href="#") Main Item 3
                    ul.dropdown
                        li.has-dropdown
                            a(href="#") DropDown Lvl 1a
                            ul.dropdown
                                li.has-dropdown
                                    a(href="#") Dropdown Lvl 2
                                    ul.dropdown
                                        li
                                            a(href="#") Dropdown Lvl 3
                        li
                            a(href="#") Dropdown Lvl 1b
            ul.right
                li.divider
                li.has-dropdown
                    a(href="#") Main Item 4
                    ul.dropdown
                        li
                            label Dropdown Level 1 Label
                        li.has-dropdown
                            a(href="#") Dropdown Level 1a
                            ul.dropdown
                                li
                                    a(href="#") Dropdown Level 2
                        li
                            a(href="#") Dropdown Level 1b
                        li
                            a(href="#") Dropdown Level 1c
                li.divider
                li
                    input(type="text" name="username" placeholder="username")
                li.divider
                li
                    input(type="text" name="password" placeholder="password")
                li.divider
                li.has-form
                    a.button(id="logInBtn") Log In!
    br
    br
    br
    br
    form(action="/signup" method="post")
        div
            label Username:
            input(type="text" name="username")
        div
            label Password
            input(type="password" name="password")
        div
            input(type="submit" value="Sign Up")
block append javascript
    script(src="javascripts/jquery-1.10.2.js")
    script(src="javascripts/foundation.min.js")
    script(src="javascripts/index.js")
    script.
        $(document).foundation();


