body {
    background: url("../../images/bg.png");
    margin: 0;
    overflow: hidden;
}

.title-area img{
    width: 45px;
    height: 45px;
}

.top-bar-section ul li > input[type=text]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    /*outline: none;*/
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid #DDDDDD;
}
.reveal-modal input[type=text]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    /*outline: none;*/
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid #DDDDDD;
}

.top-bar-section ul li > input[type=text]:focus{
    box-shadow: 0 0 5px rgba(255, 50, 50, 1);
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid rgba(255, 50, 50, 1);
}

.reveal-modal input[type=text]:focus {
    box-shadow: 0 0 5px rgba(255, 50, 50, 1);
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid rgba(255, 50, 50, 1);
}

.top-bar ul li h1 a:hover{
    color: #f00;
}

.top-bar-section ul li a:hover {
    color: #f00;
}

.top-bar-section img{
    max-height:45px;
    max-width:45px;
}

.reveal-modal h2{
    color: white;
}

.reveal-modal{
    color: rgba(255,0,0,1.0);
}

.reveal-modal{
    background-color: rgb(0, 0, 0);
    text-align:center;
}

.left_menu{
    transition: all 0.5s ease;
    position: fixed;
    width: 300px;
    margin-top: 50px;
    margin-left: -299px;
}

.left_menu_arrow{
    position: absolute;
    left: 300px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px dotted darkred;
}
/* Pricing Tables */
.pricing-table {
    border-right: solid 2px darkred;
    border-top: solid 2px darkred;
    border-bottom: solid 2px darkred;
    margin-left: 0;
    margin-bottom: 1.25em; }
.pricing-table * {
    list-style: none;
    line-height: 1; }
.pricing-table .title {
    background-color: #000000;
    padding: 0.9375em 1.25em;
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    font-size: 1em; }
.pricing-table .price {
    background-color: #000000;
    padding: 0.9375em 1.25em;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    font-size: 1.25em; }
.pricing-table .description {
    background-color: #000000;
    padding: 0.9375em;
    text-align: center;
    color: #ffffff;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1.4;
    border-bottom: dotted 2px #ffffff; }
.pricing-table .bullet-item {
    background-color: #000000;
    padding: 0.9375em;
    text-align: center;
    color: #ffffff;
    font-size: 0.875em;
    font-weight: normal;
    border-bottom: dotted 1px #ffffff; }
.pricing-table .cta-button {
    background-color: #000000;
    text-align: center;
    padding: 1.25em 1.25em 0; }

.models-list{
    color: #ffffff;
}