body {
    background: url("../../images/bg.png");
    margin: 0;
    overflow: hidden;
}

.title-area img{
    width: 45px;
    height: 45px;
}

.top-bar-section ul li > input[type=text]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    /*outline: none;*/
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid #DDDDDD;
}
.reveal-modal input[type=text]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    /*outline: none;*/
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid #DDDDDD;
}

.top-bar-section ul li > input[type=text]:focus{
    box-shadow: 0 0 5px rgba(255, 50, 50, 1);
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid rgba(255, 50, 50, 1);
}

.reveal-modal input[type=text]:focus {
    box-shadow: 0 0 5px rgba(255, 50, 50, 1);
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid rgba(255, 50, 50, 1);
}

.top-bar ul li h1 a:hover{
    color: #f00;
}

.top-bar-section ul li a:hover {
    color: #f00;
}

.reveal-modal h2{
    color: white;
}

.reveal-modal{
    color: rgba(255,0,0,1.0);
}

.reveal-modal{
    background-color: rgb(0, 0, 0);
    text-align:center;
}

